/Banner.class
/EmptyPoints.class
/HorizontalStroke.class
/LetterA.class
/LetterB.class
/LetterC.class
/LetterD.class
/LetterE.class
/LetterF.class
/LetterG.class
/LetterH.class
/LetterI.class
/LetterJ.class
/LetterL.class
/LetterO.class
/LetterT.class
/MyCharacter.class
/Size.class
/Stroke.class
/VerticalStroke.class
/LetterQ.class
/DiagonalStroke.class
/LetterP.class
/LetterU.class
/LetterS.class
/LetterR.class
